<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Help Page
        </title>
    </head>
    <body>
        {{> header}}
        <p>Here Some Text would be written.</p>
    </body>
    {{> footer}}
</html>